<!Doctype html>
<meta http-equiv="Refresh" content="5">
<style>
table {
    border: 1px solid black;
}</style>
<html>
<h2>Patient table</h2>
    <table style="width:80%">
        <tr>
            <th>idPatient</th>
            <th>name</th>
            <th>birthday_date</th>
            <th>age</th>
        </tr>
        {% for row in data %}
        <tr>
            <td> {{ row[0] }} </td>
            <td> {{ row[1] }} </td>
            <td> {{ row[2] }} </td>
            <td> {{ row[3] }} </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>