@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}



<body style="background-color:#ffffff;">
    <div style="text-align:center; width:100%; padding-bottom: 80.5px;">
        <img src="https://cdn.dribbble.com/users/49067/screenshots/3710403/maintenance-panel800600.gif" draggable="false" style="width:40%; height:auto;" />
        <h3><span class="title" style="color:#293C4A; font-size:5vh;">PÁGINA SOB MANUTENÇÃO</span></h3>
        <h3><span class="title" style="color:#293C4A; font-family:'San Francisco'; font-size:2.6vh;">Estamos a adicionar novas funcionalidades ao seu website. Por favor volte mais tarde. :)</span></h3>
    </div>
</body>

