/ExceptionController.class
/JogoController.class
/LoginController.class
/Main.class
/Exception.class
/Jogo.class
/Login.class
/Erro.class
/ChooseCharacterController.class
/LoginController$1.class
/LoginController$2.class
/Controller.class
/Bots.class
/Bots$1.class
/LoadingController.class
/ChooseCharacterController$1.class
/DisplayTeamsController.class
/GameController.class
/StatsController.class
